<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" id="header">
    <ul>
        <li class="left">
            <a href="/"> MEMBER&BOARD PROJECT </a>
        </li>
        <li>
            <a href="/member/login"> 로그인 </a>
        </li>
        <li>
            <a href="/member/save"> 회원가입 </a>
        </li>
        <li id="login-area">

        </li>
    </ul>
    <script th:inline="javascript">
        const loginArea = document.getElementById("login-area");
        const loginEmail = [[${session.loginEmail}]];

        if (loginEmail.length != '') {
            loginArea.innerHTML = "<a href='/mypage' style='color: black'>"+loginEmail+" 님 환영합니다🖕";
        } else {
            loginArea.style.display = "none";
        }
    </script>
</div>
</body>
</html>