<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h2>회원가입</h2>
<form action="/member/save" method="post">
    <input type="text" name="memberEmail" placeholder="이메일"><br>
    <input type="text" name="memberPassword" placeholder="비밀번호"><br>
    <input type="text" name="memberName" placeholder="이름"><br>
    <input type="date" name="memberBirth" placeholder="생년월일"><br>
    <input type="text" name="memberMobile" placeholder="전화번호(010-0000-0000)"><br>
    <input type="submit" value="회원가입">
</form>

</body>
</html>