<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h2>로그인</h2>
<form action="/member/login" method="post">
    <input type="text" name="memberEmail" placeholder="이메일을 입력하세요"><br>
    <input type="password" name="memberPassword" placeholder="비밀번호를 입력하세요"><br>
    <p id="login-result" style="color: red; display: none">
        이메일 또는 비밀번호가 일치하지 않습니다
    </p>
    <input type="button" onclick="login()" value="로그인">
</form>
</body>
<script>
    const login = () => {
        const email = document.querySelector('input[name="memberEmail"]').value;
        const password = document.querySelector('input[name="memberPassword"]').value;
        axios({
            method: "post",
            url: "/member/login/axios",
            data: {
                memberEmail: email,
                memberPassword: password
            }
        }).then(res => {
            console.log("res", res);
            location.href = "/member/main";
        }).catch(err => {
            console.log("err", err);
            alert("아이디 또는 비밀번호를 찾을 수 없습니다");
            location.href = "/member/login";
            document.getElementById("login-result").style.display="block";
        });

    }
</script>
</html>