<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글수정</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div th:replace="components/header :: header"></div>
<div th:replace="components/nav :: nav"></div>
<div id="section">
    <form action="/board/update" method="post" id="save-form">
        <input type="hidden" name="boardId" id="board-id" th:value="${board.id}"><br>
        <input type="text" name="boardTitle" id="board-title" placeholder="제목" th:value="${board.boardTilte}"><br>
        <input type="text" name="boardWriter" id="board-writer" placeholder="작성자" th:value="${board.boardWriter}"><br>
        <input type="text" name="boardPass" id="board-pass" placeholder="비밀번호" th:value="${board.boardPass}" disabled><br>
        <textarea name="boardContents" id="board-contents" cols="22.5" rows="30"></textarea><br>
        <button type="submit"> 수정완료 </button>
    </form>
</div>
<div th:replace="components/footer :: footer"></div>
</body>
</html>