<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="components/header :: header"></div>
<div th:replace="components/nav :: nav"></div>
<div id="section" class="details">
    <table id="info-table">
        <tr>
            <th>ID</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>작성일시</th>
            <td th:text="*{#temporals.format(board.createdAt, 'yyyy년 MM월 dd일 HH:mm')}"></td>
        </tr>
    </table>

    <table id="contents-table">
        <tr>
            <th>내용</th>
        </tr>
        <tr>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr th:if="${board.fileAttached == 1}">
            <th>Images</th>
        </tr>
        <td th:each="fileName: ${board.storedFileName}">
            <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
        </td>
        <!--        <tr th:if="${board.fileAttached == 1}">-->
        <!--            <th>images</th>-->
        <!--            <td th:each="fileName: ${board.storedFileName}">-->
        <!--                <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">-->
        <!--            </td>-->
        <!--        </tr>-->
    </table>

    <div id="buttons">
        <input type="button" value="목록" class="btn btn-dark" onclick="list_req()" id="list-btn">
        <input type="button" value="수정" class="btn btn-dark" onclick="board_update()">
        <input type="button" value="삭제" class="btn btn-danger" onclick="board_delete()">
    </div>

    <div id="pass-box" style="display: none">
        <input type="text" name="boardPass" id="board-pass" placeholder="정보확인을 위해 비밀번호를 입력하세요">
        <input type="button" value="수정" onclick="req_update()" id="update-btn" class="btn btn-dark"
               style="display: none">
        <input type="button" value="삭제" onclick="req_delete()" id="del-btn" class="btn btn-danger"
               style="display: none">
    </div>

    <div id="comment">
        <input type="text" name="commentWriter" id="comment-writer" placeholder="작성자"><br>
        <input type="text" name="commentContents" id="comment-contents"
                  placeholder="댓글을 사용할 때에는 타인을 존중하고 커뮤니티 가이드를 준수하세요.">
        <input type="button" onclick="comment_write()" class="btn btn-dark" value="댓글작성">
    </div>

    <div id="comment-box">
        <table>
            <tr>
                <th>ID</th>
                <td></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td></td>
            </tr>
            <tr>
                <th>내용</th>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="components/footer :: footer"></div>

</body>
<script>

    const list_req = () => {
        location.href = "/board/";
    }
    const board_update = () => {
        document.querySelector("#pass-box").style.display = "block";
        document.querySelector("#update-btn").style.display = "block";
        document.querySelector("#del-btn").style.display = "none";
    }

    const req_update = () => {
        const id = [[${board.id}]];
        const dbPass = '[[${board.boardPass}]]';
        const inputPass = document.querySelector('input[name="boardPass"]').value;

        if (dbPass == inputPass) {
            console.log(dbPass + ";" + inputPass + "/ success: dbPass == inputPass");
            location.href = "/board/update/" + id;
        } else {
            console.log(dbPass + ";" + inputPass + "/ error: dbPass != inputPass");
            alert("비밀번호가 일치하지 않습니다.");
        }
    }

    const board_delete = () => {
        document.querySelector("#pass-box").style.display = "block";
        document.querySelector("#del-btn").style.display = "block";
        document.querySelector("#update-btn").style.display = "none";
    }

    const req_delete = () => {
        const id = [[${board.id}]];
        const dbPass = '[[${board.boardPass}]]';
        const inputPass = document.querySelector('input[name="boardPass"]').value;

        if (dbPass == inputPass) {
            axios({
                method: "delete",
                url: "/board/" + id
            }).then(res => {
                location.href = "/board/";
            }).catch(err => {
                alert("삭제 실패");
            })
        } else {
            alert("비밀번호가 일치하지 않습니다.")
        }

    }

    const comment_write = () => {
        const writer = document.querySelector("#comment-writer").value;
        const contents = document.querySelector("#comment-contents").value;
        const boardId = [[${board.id}]];
        const commentBox = document.querySelector("#comment-box");

        axios({
            method: "post",
            url: "/comment/save",
            data: {
                commentWriter: writer,
                commentContents: contents,
                boardId: boardId
            }
        }).then(res => {
            console.log("res", res);    // 찍어보기는 이렇게
            let result = "        <table>\n" +
                "            <tr>\n" +
                "                <th>ID</th>\n" +
                "                <td>" + res.data.id + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>작성자</th>\n" +
                "                <td>" + res.data.commentWriter + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>내용</th>\n" +
                "                <td>" + res.data.commentContents + "</td>\n" +
                "            </tr>\n" +
                "        </table>\n"
            commentBox.innerHTML = result;
        }).catch(err => {
            console.log("err", err);  // 이렇게
            alert("댓글 작성 중 오류가 발생했습니다.");
        });
    }
</script>
</html>