<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시만 둘러보기</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="components/header :: header"></div>
<div th:replace="components/nav :: nav"></div>
<div id="section">
  <h2>게시판 둘러보기</h2>
    <table>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
            <th>조회수</th>
        </tr>
        <tr th:each="b: ${boardList}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.boardTitle}"></td>
            <td th:text="${b.boardWriter}"></td>
            <td> null </td>
            <td th:text="${b.boardHits}"></td>
        </tr>
    </table>
</div>
<div th:replace="components/footer :: footer"></div>
</body>
<script>
    // const board_detail = () => {
    //     location.href = "";
    // }
</script>
</html>