<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script th:src="@{/js/axios.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<div th:fragment="nav" id="nav">
    <ul>
        <li>
            <a href="/"> 홈 </a>
        </li>
        <li>
            <a href="/board/save">글쓰기</a>
        </li>
        <li>
            <a href="/board/">게시판 둘러보기</a>
        </li>
        <li class="menu">
            <a th:href="@{/board(page=1)}">Page</a>
        </li>
        <div class="menu search">
            <select id="type">
                <option value="writer">작성자</option>
                <option value="title">제목</option>
            </select>
            <input type="text" placeholder="검색어 입력" id="q" style="display: inline-block">
            <button onclick="search_fx()">검색</button>
        </div>
    </ul>
    <script>
        const search_fx = () => {
            const type = document.querySelector('#type').value;
            const q = document.querySelector('#q').value;
            location.href = "/board?type="+type+"&q="+q;
        }
    </script>
</div>
</body>
<script th:inline="javascript">
    const loginArea = document.getElementById("login-area");
    const loginEmail = [[${session.loginEmail}]];

    if (loginEmail.length != 0) {
        loginArea.innerHTML = "<a href='/mypage' style='color: black;'>" + loginEmail + "님 환영해요!</a>";
    } else {
        loginArea.innerHTML = "<a href='/login'>login</a>";
    }


</script>
</html>