<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:replace="/components/header :: header"></div>
<div>
    <form>
        <input type="text" name="id" th:value="${member.id}"><br>
        <input type="text" name="memberEmail" placeholder="이메일" th:value="${member.memberEmail}" readonly><br>
        <input type="text" name="memberPassword" placeholder="비밀번호"><br>
        <input type="text" name="memberName" placeholder="이름" th:value="${member.memberName}"><br>
        <input type="date" name="memberBirth" placeholder="생년월일" th:value="${member.memberBirth}"><br>
        <input type="text" name="memberMobile" placeholder="전화번호(010-0000-0000)" th:value="${member.memberMobile}"><br>
        <input type="button" value="수정" onclick="member_update()">
    </form>
</div>
<div th:replace="/components/footer :: footer"></div>
</body>
</html>